  <!DOCTYPE html>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>URL Shortener | ishandeveloper</title>
      <link rel="icon" href="/assets/img/favicon.png" type="image/gif" sizes="16x16">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="assets/style.css" type="text/css">
  </head>

  <body>
      <section class="form-section">

          <div class="row">
              <div class="col-md-6" id="waves">
                  <img class="wave" src="assets/img/wave.png">
                  <div class="img">
                      <img src="assets/img/undraw_file_searching_duff.svg">
                  </div>
              </div>
              <div class="col-md-6" id="main-content">
                  <img class="mobile" src="assets/img/undraw_file_searching_duff.svg">
                  <h2>URL SHORTENER</h2>
                  <form class="url-form">
                      <input class="url-input" type="url" placeholder="Enter or Paste A Link" name="url" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required><br>
                      <button type="submit" class="submit-button">Shorten!</button>
                  </form>
                  <div class="results">
                      <h3>Shortened Links</h3>
                      <div class="result-section">

                      </div>
                  </div>
                  <div class="footer">
                      Made with <font color="red">♥</font> by <a target="_blank" href="https://github.com/ishandeveloper">ishandeveloper </a>
                  </div>
              </div>

          </div>

      </section>

      <script src="/assets/main_controller.js"></script>
  </body>

  </html>
